*{
    margin: 0;
    padding: 0;
    /* Adds padding on inside of elements */
    box-sizing: border-box;
}

/* Set html and body height to be the same size */
html,body{
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./assets/backgrounds/darkGrey/low-poly-grid-haikei.svg);
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    background-color: var(--primary-color);
}
:root{
    
    --primary-color: #2a2a2a;
    --secondary-color: #333333;
    --tertiary-color: #DDDDDD;
    --quaternary-color: #FFFFFF;
    --accent-color: #4bb871;
    --hover-color: #3f9a5f;
}

/* Custom fonts */
@font-face {
    font-family: "DeathStar";
    src: url(./assets/fonts/DeathStar-VmWB.ttf);
}
@font-face {
    font-family: "UbuntuL";
    src: url(./assets/fonts/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "UbuntuLI";
    src: url(./assets/fonts/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: "UbuntuR";
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "UbuntuM";
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}


section {
    padding: 5%;
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-size: 3em;
}
 
h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3 {
    font-size: 1rem;
    line-height: 125%;
}

/* Navbar settings */

.navbar {
    width: 100%;
    height: 3.5rem;
    flex-direction: row;
    display: flex;
    position: fixed;
    backdrop-filter: blur(6px);
    overflow: hidden;
    font-weight: 700;

    padding-top: 0.5rem;

    justify-content: center;
}

.logo {
    display: flex;
    padding-left: 5vw;

}

.logo img {
    height:2.5rem;
}

.logo img:hover {
    filter: invert(65%) sepia(16%) saturate(1500%) hue-rotate(88deg) brightness(95%) contrast(81%);
}

.links {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: UbuntuL;
    justify-content: center;
}

.links li {
    list-style-type: none;
    margin: 0;
    /* Padding - distance between links*/
    padding: 10px;
    overflow: hidden;
    float: left;
}

.links a {
    color: var(--accent-color);
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

.links a:hover {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color: var(--hover-color);
}

.socials {
    padding-right: 5vw;
    overflow: hidden;
}

.socials a {
    padding: 0px 10px;
}

i {
    color: var(--accent-color);
}

.fa-linkedin-square:hover {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--hover-color);
}


.fa-github:hover {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--hover-color);
}
/* Test */
.fa-envelope:hover {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--hover-color);
}

/* Home Page */


#home {
    /* vh = viewport = percentage length of browser size */
    min-height: 100vh;
}

.brief {
    margin-top: 15vh;
    width: 100%;
    text-align: left;
    font-family:"UbuntuM", sans-serif;
    display: flex;
    flex-direction: column;
}

.brief h1 {
    font-size: 6.5em;
    display: inline;
    color: var(--quaternary-color);
}

strong::first-letter {
    font-size: 8.5rem;
}

.brief h3 {
    font-family: UbuntuLI;
    font-size: 2.5rem;
    max-width: 55vw;
    color: var(--tertiary-color);
    border-left: 2px solid;
    border-color: var(--accent-color);
}

.ctas {
    padding-top: 3%;
}

.btn{
    border: none;
	font-family: 'UbuntuR';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 10px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.btn:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* CV Button */
.btn-1 {
	background: var(--accent-color);
	color: var(--tertiary-color);
}

.btn-1:hover {
	background: var(--hover-color)
}

.btn-1:active {
	background: #2980b9;
	top: 2px;
}

.btn-1:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

.icon-pdf:before {
	content: "\f1c1";
}

.sectionEnd {
    position: absolute;
    text-align: center;
    bottom:0;
    left: 50%;
    padding-bottom: 2%;
}

.fa-circle-down {
    font-size: 3rem;
}

.fa-circle-down:hover {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color: var(--hover-color)
}

.portrait {
    position: absolute;
    height: 60vh;
    left: 60%;
    bottom: 25vh;
    z-index: -1;
}

.introduction {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border-color: var(--accent-color);
    border-style: solid;
}

.introduction h1 {
    text-align: center;
    font-size: 5rem;
    font-family: "UbuntuR" , sans-serif;
}

.introduction p {
    font-family: UbuntuL;
    color: var(--tertiary-color);
    font-size: 2vh;
    padding-left: 15px;
    padding-bottom: 15px;
}

.introduction b {
    font-family: UbuntuLI;
    color: var(--accent-color);
}

.skills {
    text-align: center;
    padding-top: 25px;
}

.skills img {
    padding: 5px;
    margin-left: 5px;
    background-color: #0D1C0145;
    border-radius: 3rem;
    max-height: 15vh;
}

.skills img:hover {
    transform: scale(1.05);
}
