*{
    margin: 0;
    padding: 0;
    /* Adds padding on inside of elements */
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./assets/backgrounds/darkGrey/low-poly-grid-haikei.svg);
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    background-color: var(--primary-color);
}

:root{
    
    --primary-color: #2a2a2a;
    --secondary-color: #333333;
    --tertiary-color: #DDDDDD;
    --quaternary-color: #FFFFFF;
    --accent-color: #4bb871;
    --hover-color: #3f9a5f;
    --subtle-color: #4a4a4a;
}

/* Custom fonts */
@font-face {
    font-family: "DeathStar";
    src: url(./assets/fonts/DeathStar-VmWB.ttf);
}
@font-face {
    font-family: "UbuntuL";
    src: url(./assets/fonts/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "UbuntuLI";
    src: url(./assets/fonts/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: "UbuntuR";
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "UbuntuM";
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

p {
    font-weight: 6000;
    font-size: 2.5vh;
    line-height: 4vh;
}

#home {
    align-items: center;
}

section {
    padding: 3%;
    margin: auto;
    width: 80%;
}

h1 {
    font-size: 4em;
    color: var(--quaternary-color);
    text-align: center;
    font-family: "UbuntuM", sans-serif;
}
 
h2 {
    font-family: UbuntuLI;
    font-size: 1.7rem;
    color: var(--quaternary-color);
    line-height: 2rem;
}

h3 {
    font-size: 1rem;
    line-height: 125%;
}

b {
    font-family: UbuntuLI;
    color: var(--accent-color);
}

/* Navbar settings */

.navbar {
    width: 100%;
    height: 5rem;
    flex-direction: row;
    display: flex;
    position: fixed;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    overflow: hidden;
    font-weight: 700;
    background-color: var()b ;
    padding: 0.4vh 3vw 0 3vw;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2.5rem;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.logo img:hover, .logo img:active {
    filter: invert(57%) sepia(53%) saturate(434%) hue-rotate(88deg) brightness(97%) contrast(91%);
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: -webkit-translate(-50%, -50%);
    transform: translate(-50%, -50%);

    margin-left: auto;
    font-size: 1.2rem;
    font-family: UbuntuL;
}

.links a {
    position: relative;
    margin: auto 1.5vw;
    color: var(--quaternary-color);
    text-decoration: none;
}

.links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.links a:hover::before, .links a:active::before {
    transform: scaleX(1);
}
  

.links a:hover, .links a:active {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color: var(--accent-color);
}

.socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: auto;
}

.socials a {
    margin: auto 1.5vw;
}

i {
    color: var(--quaternary-color);
}

.fa-linkedin-square:hover, .fa-linkedin-square:active {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--accent-color);
}


.fa-github:hover, .fa-github:active {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--accent-color);
}

.fa-envelope:hover, .fa-envelope:active {
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    color:var(--accent-color);
}

.hamburger {
    display: none;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    right: 3vw;
    margin-left: auto;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: translate(0px, 11px) rotate(-45deg);
}
  
.hamburger.is-active:after {
  transform: translate(0px, -11px) rotate(45deg);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-links {
    position: fixed;
    top: 0;
    left: 0%;
    top: -200%;
    width: 100%;
    min-height: 40vh;
    display: block;
    background-color: #2a2a2aef;
    padding-top: 15vh;
    transition: 0.5s;
    border: var(--accent-color);
    border-style: none none solid none;

    z-index: 99;
}

.mobile-links a {
    display:table;
    width: 100%;
    max-width: 25vw;
    margin: 1vh auto;
    text-align: center;
    padding: 3vh 1vw;
    font-size: 2rem;
    font-family: UbuntuL;

    color: var(--tertiary-color);
    text-decoration: none;
    transition: 0.2s;
}

.mobile-links a:hover, .mobile-links a:active {
    color: var(--accent-color);
}

.mobile-links.is-active {
    display: none;
    top: -7vh;
}

/* Home Page */


#home {
    /* vh = viewport = percentage length of browser size */
    min-height: 100vh;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.brief {
    margin-top: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family:"UbuntuM", sans-serif;
    display: flex;
    flex-direction: column;
}

.brief img {
    display: block;
    max-width: 30vw;
    max-height: 30vh;
    height: auto;
    margin: auto;
}

strong::first-letter {
    font-size: 8.5vw;
}

.ctas {
    padding: 1.5vh 0;
}

.btn{
    border: none;
	font-family: 'UbuntuR';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 10px 0px 0px;
    border-radius: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.btn:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* CV Button */
.btn-1 {
	background: var(--accent-color);
	color: var(--tertiary-color);
}

.btn-1:hover, .btn-1:active {
	background: var(--hover-color);
    top: 2px;
}

.btn-1:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
    border-radius: 1rem;
}

.icon-pdf:before {
	content: "\f1c1";
}

.sectionEnd {
    align-items: center;
    width: 100%;
    margin:auto;
    padding: 2vw 0 6vw 0;
}

.fa-circle-down {
    font-size: min(5vw, 100px);
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.fa-circle-down:hover, .fa-circle-down:active {
    color: var(--accent-color);
    transform: scale(1.2);
}

.textBox {
    background-color: var(--primary-color);
    border-radius: 1rem;
    border-color: var(--accent-color);
    border-style: solid;
    /* Avoids navbar (no mobile support) */
    margin-top: 3.4rem;
}

.text {
    display: inline-block;
    font-family: "UbuntuL", sans-serif;
    color: var(--tertiary-color);
    font-size: 2vh;
    margin: 2vh 3vw;
    font-weight: 600;
}

.text h1 {
    color: var(--quaternary-color);
    text-align: left;
    font-size: 4vh;
    font-family: "UbuntuM" , sans-serif;
    margin-bottom: 2.5vh;
    
}

.text p {
    margin-bottom: 2vh;
}

#skills h1 {
    /* Avoids navbar (no mobile support) */
    margin-top: 2.5rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vh;
}

.imgFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh, 3vw;
    margin: 1.5vw;
    background-color: #4bb87125;
    border-radius: 1rem;
    max-height: 15vh;
    height: 25vh;
    width: 25vh;
    max-width: 20vw;

    transition: 0.2s;
}

.imgFrame img {
    height: 13vh;
    width: auto;
    max-width: 13vw;
    max-height: 15vh;   
}

.imgFrame:hover {
    transform: scale(1.05);
    background-color: #4bb87111;
}

.darken {
    filter: invert(0%) sepia(99%) saturate(2%) hue-rotate(144deg) brightness(97%) contrast(100%);
}

.brighten {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(101%);
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#projects h1 {
    /* Avoids navbar (no mobile support) */
    margin-top: 2rem;
}

.projectSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2rem 0;
}

.project {
    display: flex;
    flex-direction: column;
    margin: auto 2vw;
    background-color: var(--primary-color);
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 1rem;
    color: var(--quaternary-color);
    height: 80vh;
    width: 45vw;
    text-decoration: none;
    text-align: center; 

    position: relative;
    overflow:hidden;
    transition: 0.3s;
}

.repl {
    border-style: none none solid none;
    border-radius: 1rem;
    border-color: var(--accent-color);
    height: 60%;
    overflow: hidden;
}

.project:hover {
    transform: scale(1.05);
}

.thumbnail {
    height: 60%;
    border-style: none none solid none;
    border-color: var(--accent-color);
    border-radius: 1rem;
    overflow: hidden;
}

.thumbnail img {
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.thumbnail img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.title {
    font-family: UbuntuM;
    font-size: 5.5vh;
    line-height: 5vh;

    margin: 1.5vh 0;
}

.title a {
    text-decoration: none;
    color: var(--quaternary-color);
}

.desc {
    font-family: UbuntuL;
    font-size: 2vh;
    font-weight: 600;
}

.tags {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.tags p {
    font-family: UbuntuL;
    font-size: 2vh;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 1rem;
    margin: 0.5rem 0.5rem;
    padding: 0 0.5rem;
    transition: 0.2s;
}

.tags p:hover {
    scale: 1.1;
    opacity: 0.8;
}

.project .socials {
    margin: auto;

    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 2vh;
}

.footerCtas {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid none none none;
    border-color: var(--accent-color);
    padding: 1vh 0;
}

.footerCtas h1 {
    font-size: 3em;
}

.footerCtas p {
    padding: 1vh 0;
    line-height: 2vh;
    color: var(--tertiary-color);
    font-family: "UbuntuL", sans-serif;
    text-align: center;
}

.footerCtas p span {
    font-weight: 700;
    color: var(--subtle-color);
}

.mobileFooter {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileFooter p {
    color: var(--accent-color);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-weight: 700;
}

.mobileFooterSocials {
    font-size: 11vw;
}

.mobileFooterSocials a {
    margin: auto 3vw;
}

/* Contact Button */
.btn-2 {
	background: var(--accent-color);
	color: var(--quaternary-color);
    width: 30%
}

.btn-2:hover, .btn-2:active {
    top: 2px;
	background: var(--hover-color);
}

.btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}


.icon-contact:before {
	content: "\f1d8";
}

.footerCtas .socials {
    margin-top: 3vh;
    margin-right: auto;
}

/* Media Queries */

/* Medium / Tablet */
@media screen and (max-width: 995px){

    /* ---  Body  --- */
    section {
        width: 93%;
    }

    p {
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .title {
        font-family: UbuntuM;
        font-size: 3.5vh;
        line-height: 5vh;
    
        margin: 1.5vh 0;
    }

    .thumbnail, .repl {
        height: 40%;
    }

    .project {
        height: 55vh;
    }

    .tags p {
        font-size: 1.3rem;
    }
}

/* Mobile*/
@media screen and (max-width: 770px){
    /* --- Navbar --- */
    .hamburger {
        display: block;
    }

    .mobile-links.is-active {
        display: block;
    }

    .links {
        display: none;
    }

    .logo img {
        height: 1.5rem;
    }

    .socials {
        font-size: 2rem;
    }
    
    /* ---  Body  --- */

    section {
        width: 95%;
    }

    h1 {
        font-size: 3.5em;
        color: var(--quaternary-color);
    }
     
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 3vh;
        line-height: 4vh;
    }

    #home {
        margin-top: 3rem;
    }

    .brief img {
        max-width: 45vw;
        max-height: 45vw;
    }

    .fa-circle-down {
        margin-top: 5vh;
        font-size: 12vw;
    }

    .textBox {
        color: var(--tertiary-color);
        background-color: var(--primary-color);
        border-radius: 3rem;
    }

    .imgFrame {
        padding: 3vh, 3vw;
        margin: 1.5vw;
        height: auto;
        width: 30vh;
        max-width: 40vw;
    }

    .imgFrame:hover, .imgFrame:active {
        transform: scale(1);
    }

    .projectSection {
        align-items: center;
        flex-direction: column;
    }

    .project {
        margin: 5vw auto;
        height: 100vh;
        width: 85vw;
    }

    .thumbnail {
        height: 65%;
    }

    .repl {
        height: 65%;
    }

    .project .socials {
        margin-bottom: 1vh;
        font-size: 2.5rem;
    }

    .btn-2 {
        display: none;
    }

    .mobileFooter {
        display: flex;
    }
    
    .footerCtas .socials {
        display: none;
    }
}

/* Mobile rotation scaling fixes*/
@media screen and (orientation:landscape) and  (max-height: 400px){

    .navbar {
        height: 3rem;
    }

    .brief h1{
        font-size: 8vh;
    }

    .footerCtas p{
        line-height: 1rem;
    }

    .projectSection {
        align-items: center;
        flex-direction: column;
    }

    .project {
        margin: 5vw auto;
        height: 130vh;
        width: 85vw;
    }

    .title {
        font-family: UbuntuM;
        font-size: 5.5vw;
        line-height: 5vw;
    
        margin: 1vw 0;
    }

    .desc {
        font-family: UbuntuL;
        font-size: 2vw;
    }
    
    .tags p {
        font-size: 2vw;
    }
}